BOT_TOKEN=your_bot_token_here
ADMIN_ID=your_admin_user_id_here
CHANNEL_USERNAME=@your_channel_username

SMSSEND_ACCOUNT=your_smssend_account
SMSSEND_PASSWORD=your_smssend_password
SMSSEND_API_URL=http://your_smssend_api_url

MAILBUY_API_URL=https://api.anymessage.shop
MAILBUY_TOKEN=your_mailbuy_token

CRYPTOBOT_TOKEN=your_cryptobot_token
XROCKET_API_KEY=your_xrocket_api_key
